.App {
  text-align: center;
}

.app-container {
  display: inline-block;
}

svg {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.react-select-container-div {
  display: inline-flex;
}

.btn {
  margin-left: 10px;
  margin-bottom: 4px;
}

.spacer {
  margin-top: 40px;
}
.spacer-small {
  margin-top: 20px;
}

.selectforms {
  z-index: -1;
}

.tablegrid {
  z-index: -2;
  position: relative;
}

.App.helpicon {
  display: flex;
  flex-direction: row-reverse;
}
